---
title: "Meet Pipeline Editor, your one-stop-shop for building a CI/CD pipeline"
author: Dov Hershkovitch # if name includes special characters use double quotes "First Last"
author_gitlab: dhershkovitch
author_twitter: dov0211 # ex: johndoe
categories: unfiltered
image_title: '/images/blogimages/2020-02-08-Pipeline-editor-overview/image_cover.jpg'
description: "Debuting GitLab's Pipeline Editor"
tags: ci, cd, DevOps # Please add some relevant tags from the blog handbook: https://about.gitlab.com/handbook/marketing/blog/#tags. Please only use tags from this list (do not create new ones).
---

{::options parse_block_html="true" /}

<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>&nbsp;&nbsp;
This blog post is [Unfiltered](/handbook/marketing/blog/unfiltered/#legal-disclaimer)
&nbsp;&nbsp;<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>
{: .alert .alert-webcast}

### Background

Earlier this year, GitLab decided to split the continuous integration into 2 separate teams - "[Continuous integration](https://about.gitlab.com/direction/verify/continuous_integration/)" which is responsible to improve the experience of running a CI/CD pipeline, and "[Pipeline Authoring](https://about.gitlab.com/direction/verify/pipeline_authoring/)" which is responsible for helping you author your pipeline. We've defined the Pipeline authoring team goal as "Making the authoring experience as easy as possible for both advanced and novice users."

![Verify Groups](/images/handbook/engineering/verify/verify_groups_banner.jpg)

As a team, we realized that a dedicated authoring area is needed to achieve our [ambitious roadmap](https://youtu.be/hInM7JUEH4Y). And this is when the pipeline editor idea was formed. 

### Pipeline Editor

In GitLab 13.8, we introduced the first iteration of the [Pipeline Editor](https://about.gitlab.com/releases/2021/01/22/gitlab-13-8-released/).
The pipeline editor is a dedicated editor designed for authoring your CI/CD. It is your one-stop-shop for everything you need to configure your CI/CD pipelines. Find out what features are included and the benefits you'll get below. 

### Why do we need a dedicated editor?

GitLab's advanced syntax provides a high degree of customization for sophisticated and demanding CI/CD use cases. However, all of this power and flexibility comes with a fair bit of complexity. The pipeline editor helps you mitigate this challenge and serves as a single solution that groups all the existing CI authoring features in a single location. It is our foundation, and on top, we plan to add enhancements in future iterations. 

In order for the pipeline editor to work, you'll first need to create a .gitlab-ci.yml file in your project. The .gitlab-ci.yml is a [YAML file](https://en.wikipedia.org/wiki/YAML) where you configure specific GitLab CI/CD instructions. Check out how we are working on improving the first-time experience to create a .gilab-ci.yml file directly from the pipeline editor in [this epic](https://gitlab.com/groups/gitlab-org/-/epics/5276). 

### Continuous validation
Once you have created the .gitlab-ci.yml file and navigated it into the pipeline editor, you can begin editing your configuration. Writing YAML can be error-prone. No matter how technical or skilled you are, programming mistakes happen. Sometimes an indentation will be missed, the incorrect syntax is used, or the wrong keyword is selected and that's ok! As you start authoring your pipeline, GitLab will inspect the pipeline configuration using our linting APIs and provide you with an indicator so you know if your pipeline configuration is valid or not. We will continuously validate your pipeline without making any changes to your pipeline configuration. You will have the confidence in hitting merge and running your pipeline without any surprises. 

![image1](/images/blogimages/2020-02-08-Pipeline-editor-overview/image1.png){: .shadow.medium.center.wrap-text}

### "Seeing is believing"
It's practically impossible to envision what a pipeline should look like when you start writing from a blank YAML file. Luckily, GitLab provides you with a full pipeline view for every running pipeline. But, what if you want to visualize your pipeline _before_ they begin to run? Well, you can do that now by navigating to the visualize tab in the pipeline editor. You'll find an illustration that shows what your pipeline should look as you write it, similar to the linter, and GitLab will display the visual before making any commits, before running, or before altering your pipeline in any way.
In the visualization, we will group all your defined pipeline jobs by stages and add links between the jobs based on the [needs](https://docs.gitlab.com/ee/ci/yaml/#needs) relationships you've configured.
 

If we take a look at the example below, you can easily see that I've configured a 3-stage pipeline, where the build stage has 3 jobs (step 1-3), and that step 4 needs steps 1 and 3.

![image2](/images/blogimages/2020-02-08-Pipeline-editor-overview/image2.png){: .shadow.medium.center.wrap-text}


Here is what the YAML looks like

 ```yaml
image: alpine:latest
 
stages:
   - test
   - build
   - deploy
  
prepare:
   script: exit 0
   stage: test
  
step1:
   script: echo testo
   stage: build
step2:
   script: echo testo
   stage: build
step3:
   script: echo testo
   stage: build
  
step4:
   needs: ['step1', 'step3']
   script: exit 0
   stage: deploy
 ```

### Lint

The CI lint helps you validate your pipeline configuration and provides you with additional information about your pipeline configuration. That is why we've copied the existing CI linter (which was well hidden in our jobs page) to the pipeline editor as a third tab.
 
The linter provides you with detailed information about every job you've configured in your pipeline. For each job, it provides the [before_script](https://docs.gitlab.com/ee/ci/yaml/#before_script), [after_script](https://docs.gitlab.com/ee/ci/yaml/#after_script), and [script](https://docs.gitlab.com/ee/ci/yaml/#script) fields, tags, environment names, branches it should run, and more…

If you look at the following example, you can see that the test job in the prepare stage has before, script and after, runs on master, upon failure, has a production and tag and environment 

![image3](/images/blogimages/2020-02-08-Pipeline-editor-overview/image3.png){: .shadow.medium.center.wrap-text}


In this second example, you can see that the build job is a manual job that runs on all branches and is allowed to fail

![image5](/images/blogimages/2020-02-08-Pipeline-editor-overview/image5.png){: .shadow.medium.center.wrap-text}


That's it! I hope you found this overview useful. To get started with GitLab CI, you can try out our hosted Gitlab.com solution, or you can download GitLab and read its documentation for more in-depth coverage of the functionality. 
If you are using our Pipeline Editor we would love it if you leave us a note on our [feedback issue](https://gitlab.com/gitlab-org/gitlab/-/issues/298928)! If you'd like to learn more about the upcoming features, feel free to read through the [Pipeline Editor 2nd iteration epic](https://gitlab.com/groups/gitlab-org/-/epics/4814), and tag `@dhershkovitch` if you have any questions.
 









